/* ====RESET==== */
* {
	margin: 0;
	padding: 0;
	font-family: "Rajdhani", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul, ol {
	list-style: none;
}

img {
	max-width: 100%;
}

#titulo{
	text-align: center;
	color: orange;
	background-color: black;
}
h2{
	margin-left: 2%;
	color: black;
}

main{
	background-image: linear-gradient(rgba(255, 128, 0, 0.7), rgba(255, 128, 0, 0.7)), url(../img/fondo11.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header .navbar-nav a:hover{
	color: orange;
}

.navbar-brand{
	color: orange;
}

main .button:hover{
	color: orange;
}

.card{
	border: solid;
	border-color: black;
	margin-bottom: 5%;
}

body .dark{
    background-color: black;
}
body .light{
    background-color: white;
}
#inicio{
    margin-bottom: 50px;
}
form {
	max-width: 400px;
	margin: 0 auto;
	background-color: black;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border: solid;
}

.formGroup {
	margin-bottom: 15px;
	margin-top: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #555;
}

.input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}
.mensajes {
	max-width: 400px;
	margin: 30px auto;
	background-color: #f6dada;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	color: #bc3c3c;
	text-align: center;
}

.hide {
	display: none;
}

footer a:hover{
	color: orange;
}

.mapa{
	margin: 0% 50%;
}

